<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Course Directory</title>
  <div th:replace="~{/fragments/head}" /> 
</head>
<body>
  <!-- Display the title navigation bar -->
  <section id="title">
    <div th:replace="~{/fragments/navbar}" />
  </section>

  <section id="course-list">
  
    <h3 class="page-heading">Course Directory</h3>
    <hr>
    <table class="table table-bordered table-striped table-hover tbody-font">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Course</th>
          <th>Instructor</th>
          <th>Instructor ID</th>
        </tr>
      </thead>
      
      <tbody class="table-secondary">
        <!-- For each of the employees in the models employees attribute.-->
        <tr th:each="course : ${courses}">
        
          <td th:text="${course.courseId}" />	
          <td th:text="${course.title}" />	
          <td th:text="${course.firstName} + ' ' + ${course.lastName}" />
          <td th:text="${course.instructorId}" />
        
        </tr>
      </tbody>		
    </table>
  </section>
</body>
</html>