<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
    <title>cqueltech.com Company Home Page</title>
    <div th:replace="~{/fragments/head}" />
  </head>

  <body>

    <!-- Display the title navigation bar -->
    <section id="title">
      <div th:replace="~{/fragments/navbar}" />
    </section>
    
    <br>
    <p class="p-font p-font-lg p-margin-top">Welcome to the cqueltech.com student tracker Spring Boot Demo!</p>
    <hr>
    <!-- Display username and role -->
    <!-- 'principal.username' will display the username for the user currently logged in -->
    <!-- 'principal.authorities' will display the roles for the user currently logged in -->
    <p class="p-font p-font-md">
      User: <span sec:authentication="principal.username"></span>
      <br><br>
      Role(s):
      <span sec:authorize="hasAuthority('STUDENT')"> STUDENT</span>
      <span sec:authorize="hasAuthority('INSTRUCTOR')"> INSTRUCTOR</span>
      <span sec:authorize="hasAuthority('ADMIN')"> ADMIN</span>
    </p>
    <hr>
    <br>
    <br>
    <p class="p-font p-font-sm">
      Depending on the role of the user various links are displayed in the NavBar. These links
      will permit access to the database and display relevant information. Only information
      authorised according to the user's role will be displayed. When registering a new user
      the individual can create a user with either the STUDENT or INSTRUCTOR role. An instructor
      will also have the STUDENT role privileges. 
    </p>
    <p class="p-font p-font-sm">
      Here the database is tracking courses, the instructors leading the courses, and
      the students taking the courses. As well as this students are also able to leave reviews on
      particular courses.
    </p>
  </body>
</html>