<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Instructor Directory</title>
  <div th:replace="~{/fragments/head}" />
</head>

<body>
  <!-- Display the title navigation bar -->
  <section id="title">
    <div th:replace="~{/fragments/navbar}" />
  </section>

  <section id="course-list">
  
    <h3 class="page-heading">Instructor Directory</h3>
    <hr>
    <table class="table table-bordered table-striped table-hover tbody-font">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Address</th>
        </tr>
      </thead>
      
      <tbody class="table-secondary">
        <!-- For each of the employees in the models employees attribute.-->
        <tr th:each="instructor : ${instructors}">
        
          <td th:text="${instructor.id}" />	
          <td th:text="${instructor.firstName} + ' ' + ${instructor.lastName}" />	
          <td th:text="${instructor.email}" />
          <td th:text="${instructor.getInstructorDetail().getAge()}" />
          <td th:text="${instructor.getInstructorDetail().getSex()}" />
          <td th:text="${instructor.getInstructorDetail().getAddress()}" />
        
        </tr>
      </tbody>		
    </table>

</body>

</html>