<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Student Directory</title>
  <div th:replace="~{/fragments/head}" />
</head>

<body>
  <!-- Display the title navigation bar -->
  <section id="title">
    <div th:replace="~{/fragments/navbar}" />
  </section>

  <section id="course-review-list">
  
    <h3 class="page-heading">Course Reviews</h3>
    <hr>
    <table class="table table-bordered table-striped table-hover tbody-font">
      <thead class="table-dark">
        <tr>
          <th>Course ID</th>
          <th>Course</th>
          <th>Student</th>
          <th>Email</th>
          <th>Student ID</th>
        </tr>
      </thead>
      
      <tbody class="table-secondary">
        <!-- For each of the courses in the models course-reviews attribute.-->
        <th:block th:each="course : ${courseStudents}">
          <tr th:each="student : ${course.getStudents()}">
        
            <td th:text="${course.id}" />
            <td th:text="${course.title}" />
            <td th:text="${student.firstName} + ' ' + ${student.lastName}" />
            <td th:text="${student.email}" />
            <td th:text="${student.id}" />
        
          </tr>
        </th:block>
      </tbody>		
    </table>
  </section>

</body>
</html>