<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Student Directory</title>
  <div th:replace="~{/fragments/head}" />
</head>

<body>
  <!-- Display the title navigation bar -->
  <section id="title">
    <div th:replace="~{/fragments/navbar}" />
  </section>

  <section id="course-review-list">
  
    <h3 class="page-heading">Students</h3>
    <hr>
    <table class="table table-bordered table-striped table-hover tbody-font">
      <thead class="table-dark">
        <tr>
          <th>Course ID</th>
          <th>Course</th>
          <th>Student</th>
          <th>Email</th>
          <th>Student ID</th>
          <th>Delete Student</th>
        </tr>
      </thead>
      
      <tbody class="table-secondary">
        <!-- For each of the courses in the models course-reviews attribute.-->
        <tr th:each="student : ${students}">
      
          <td th:text="${student.courseId}" />
          <td th:text="${student.title}" />
          <td th:text="${student.firstName} + ' ' + ${student.lastName}" />
          <td th:text="${student.email}" />
          <td th:text="${student.studentId}" />
          <td>
            <a th:href="@{/courses-students/delete(studentId=${student.studentId}, courseId=${student.courseId})}"
                class="btn btn-danger btn-sm"
              onclick="if (!(confirm('Are you sure you want to remove student from this course?'))) return false">
                Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

</body>
</html>